body {
  font-family: 'Roboto'
}
.center .parent {
    position: relative;
}
.center .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box
}
#core_drawer_panel {
  right: 0px;
  bottom: 0px
}
#section {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  background-color: rgb(250, 250, 250)
}
#section1 {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221)
}
[mcShop-toolbar] {
  color: rgb(241, 241, 241);
  background-color: transparent !important;
}
[mcShop-contents] > neon-animatable{
  padding: 16px;
  background: #FEFEFE
}
[mcShop-contents] > neon-animatable[nopadding] {
    padding: 0;
}
[mcShop-title] {
    margin-left: 48px;
    font-size: 32px !important;
    overflow: visible !important;
    position: relative;
    top: -8px;
}
paper-drawer-panel:not([narrow]) [mcShop-title] {
    margin-left: 0px;
    top: 0;
}
[drawer] {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background: #FFF;
}
[narrow] > [drawer]{
  box-shadow: none !important;
}
[drawer]>paper-menu shop-drawer-item>iron-icon {
  margin: 0 16px 0 0
}
[drawer]>core-menu {
  margin: 0
}
paper-scroll-header-panel .bg-container {
  background: #4285F4
}
paper-scroll-header-panel #headerBg {
  background: url('../../../../images/bg.png');
  background-size: cover;
  background-position: 75%
}
h2[mcShop-title-h2] {
  font-size: 24px;
  font-weight: 100;
  margin: 0
}
a:hover {
  color: #444444
}
a {
  color: #555555;
  text-decoration: none
}
[drawer]>core-menu>paper-item core-icon {
  margin: 0 16px 0 0
}
shop-drawer-item[tabindex='0']{
  font-weight: 500;
}
#itemDialog {
    width: 700px;
    /* height: 400px; */
}
.btn-green {
    color: #4caf50;
}
.btn-green [raised] {
    color: #ffffff;
    background-color: #4caf50;
}
#mainToast {
    z-index: 100;
}
.loadingContainer {
    display: inline-block;
    left: -30px;
    top: -6px;
    margin-right: -20px;
    margin-bottom: 20px;
    position: relative;
}
shop-drawer-item.iron-selected {
    background-color: rgb(228, 228, 228);
}
