<link rel="import" href="../shop-elements/polymer-all-elements.html">

<dom-module name="shop-item" attributes="{{data}}">
    <template>
        <div class="chip" on-tap="openDialog">
            <paper-ripple></paper-ripple>
            <div id="itemPic" class="chip-top" style="{{data.bg}}"></div>
            <div class="chip-bottom">
                <div class="chip-title"><span>{{data.dispname}}</span></div>
                <div class="chip-desc">{{data.price}} {{translations.currency}}</div>
            </div>
        </div>
    </template>
    <script src="../../../components/jquery/dist/jquery.min.js"></script>
    <script src="shop-item.js"></script>
</dom-module>
