<link rel="import" href="../shop-elements/polymer-all-elements.html">
<link rel="import" href="../shop-item/shop-item.html">

<dom-module name="shop-transactions" attributes="{{transactions}}">
    <template>
        <link rel="stylesheet" href="shop-transactions.css">
        <table class="table table-hover">
            <thead>
                <tr>
                     <th>TXID</th>
                     <th>Description</th>
                     <th>Amount</th>
                     <th>Time</th>
                </tr>
            </thead>
            <tbody id="table">
                <tr class="sum-row">
                    <td data-title="TXID"></td>
                    <td data-title="Description">Total</td>
                    <td data-title="Amount">{{sum}}</td>
                    <td data-title="Time">{{sum_created_at}}</td>
                </tr>
                <template is="dom-repeat" items="{{transactions}}" as="transaction">
                    <tr class="{{transaction.status}}">
                        <td data-title="TXID">{{transaction.txid}}</td>
                        <td data-title="Description">{{transaction.description}}</td>
                        <td data-title="Amount">{{transaction.amount}}</td>
                        <td data-title="Time">{{transaction.created_at}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <script src="../../../components/jquery/dist/jquery.min.js"></script>
    <script src="shop-transactions.js"></script>
</dom-module>
