<link rel="import" href="../shop-elements/polymer-all-elements.html">
<link rel="import" href="../shop-elements/shop-elements.html">
<link rel="import" href="../../../components/fontawesome-iconset/fa-icons.html">
<dom-module name="shop-login" attributes="title">
    <template>
        <link rel="stylesheet" href="shop-login.css">
        <paper-drawer-panel responsiveWidth="1024px" mcShop-main>
            <section drawer>
                <div style="background-image: url(https://minotar.net/avatar/char/256); height: 256px;"></div>
                <paper-input id="username" style="padding-left: 16px; width: 224px; padding-top: 0;" class="{{cla}}" value="{{username}}" label="Username" disabled?="{{dis}}"></paper-input>
                <paper-input id="password" style="padding-left: 16px; width: 224px; padding-top: 0;" class="{{cla}}" value="{{password}}" type="password" label="Password" disabled?="{{dis}}"></paper-input>
                <paper-menu selected="{{selectedPage}}" excludedLocalNames="shop-divider" selectable="[clickable]" mcShop-menu>
                    <shop-drawer-item onclick="{{onbuttonclick}}"><iron-icon icon="fa:sign-in"></iron-icon>Login</shop-drawer-item>
                </paper-menu>
            </section>
            <paper-scroll-header-panel condenses="true" main keepCondensedHeader="true">
                <paper-toolbar class="tall" mcShop-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div id="div" class="flex"></div>
                    <paper-icon-button icon="search"></paper-icon-button>
                    <paper-icon-button icon="more-vert"></paper-icon-button>
                    <div class="bottom title" mcShop-title>{{title}}</div>
                </paper-toolbar>
                <neon-animated-pages selected="{{isRegister}}" entry-animation="fade-in-animation" exit-animation="fade-out-animation">
                    <shop-listing data="{{shop}}"></shop-listing>
                    <neon-animatable>
                        <div class="horizontal layout" style="width: 100%;">
                            <div class="flex"></div>
                            <div>
                                <paper-icon-button id="close-button" icon="clear" on-tap="closeRegister"></paper-icon-button>
                            </div>
                        </div>
                        <div class="center parent">
                            <div class="center child register-container">
                                <paper-input id="rusername" on-keypress="validateRegister" class="registerFields {{cla}}" value="{{rusername}}" label="Username" disabled?="{{dis}}"></paper-input>
                                <paper-input id="rpassword" on-keypress="validateRegister" class="registerFields {{cla}}" type="password" label="Password" disabled?="{{dis}}"></paper-input>
                                <paper-input id="rconfirmpassword" on-keypress="validateRegister" class="registerFields {{cla}}" value="{{rconfirmpassword}}" type="password" label="Confirm Password" disabled?="{{dis}}"></paper-input>
                                <paper-button id="registerbutton" raised disabled onclick="{{onregisterclick}}">Register</paper-button>
                            </div>
                        </div>
                    </neon-animatable>
                </neon-animated-pages>
            </paper-scroll-header-panel>
        </paper-drawer-panel>
        <paper-toast id="toast1" text="Wrong username or password."></paper-toast>
    </template>
    <script src="shop-login.js"></script>
</polymer-element>
